apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra
  source:
    repoURL: https://github.com/hanship0530/argo-rollout.git
    targetRevision: main
    path: bootstrap/ingress-nginx
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  ignoreDifferences:
    - group: batch
      kind: Job
      namespace: ingress-nginx
      name: ingress-nginx-admission-create
    - group: batch
      kind: Job
      namespace: ingress-nginx
      name: ingress-nginx-admission-patch
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
